<?xml version="1.0"?>
<!--
/**
 * LogicSpot_GlobalMessage
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GNU General Public License v3.0
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-3.0.txt
 *
 * @category    LogicSpot
 * @package     LogicSpot_GlobalMessage
 * @copyright   Copyright (c) 2015 LogicSpot (http://www.logicspot.com)
 * @license     http://www.gnu.org/licenses/gpl-3.0.txt GNU General Public License v3.0
 */
-->
<config>
    <modules>
        <LogicSpot_GlobalMessage>
            <version>0.2.0</version>
        </LogicSpot_GlobalMessage>
    </modules>
    <global>
        <blocks>
            <logicspot_globalmessage>
                <class>LogicSpot_GlobalMessage_Block</class>
            </logicspot_globalmessage>
        </blocks>
        <helpers>
            <logicspot_globalmessage>
                <class>LogicSpot_GlobalMessage_Helper</class>
            </logicspot_globalmessage>
        </helpers>
        <models>
            <logicspot_globalmessage>
                <class>LogicSpot_GlobalMessage_Model</class>
            </logicspot_globalmessage>
        </models>
        <resources>
            <logicspot_globalmessage_setup>
                <setup>
                    <module>LogicSpot_GlobalMessage</module>
                </setup>
            </logicspot_globalmessage_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <module>
                    <file>logicspot/globalmessage.xml</file>
                </module>
            </updates>
        </layout>
    </frontend>
    <default>
        <logicspot_globalmessage>
            <globalmessage>
                <enable>1</enable>
            </globalmessage>
        </logicspot_globalmessage>
    </default>
</config>